{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "plugins": ["relay"],
  "extends": [
    "plugin:@nrwl/nx/react-typescript",
    "plugin:relay/recommended",
    "next",
    "next/core-web-vitals",
    "../../.eslintrc.json"
  ],
  "ignorePatterns": ["!**/*"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "rules": {}
    },
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {}
    },
    {
      "files": ["*.js", "*.jsx"],
      "rules": {}
    }
  ],
  "rules": {
    "relay/generated-flow-types": "off"
  }
}
