@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .placeholder-medium::placeholder {
    font-weight: 500;
  }
  .placeholder-semibold::placeholder {
    font-weight: 600;
  }
  .placeholder-bold::placeholder {
    font-weight: 700;
  }
}

body {
  @apply antialiased font-sans;
}

form {
  margin-block-end: 0;
}

#nprogress {
  @apply pointer-events-none z-50;
}

#nprogress .bar {
  @apply bg-green-600 fixed z-50 top-0 left-0 w-full h-0.5;
}
