@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-messages {
    background-image: url('/messages-bg.jpg');
    background-position: 50% 0%;
    background-size: 800px;
    background-repeat: repeat;
    background-attachment: scroll;
  }

  .underline-line-through {
    text-decoration: underline line-through;
  }
}

body {
  @apply font-sans antialiased;
}

#nprogress {
  @apply pointer-events-none z-50;
}

#nprogress .bar {
  @apply fixed top-0 left-0 z-50 h-0.5 w-full bg-emerald-600;
}
